@import '../../../../../../style/variable.scss';

.activity-meeting-item {
  border: 2px solid $secondary-color;
  padding: 20px;
  border-radius: 10px;
  margin: 10px -15px;
  color: white;
  background-color: $secondary-color;
}