.activity-task-container {
  padding: 0px 20px;
}

.activity-task-list {
  background-color: white;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17);
  margin-top: 20px;
}